*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.pic1{
    height:50px;
    border-radius: 100%;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 1200px;
    padding: 1rem;
}
ul{
    display: flex;
    gap: 3rem;
    list-style-type: none;
}
ul a{
    text-decoration: none;
    color: black;
}.pic2{
    border-radius: 100%;
    height: 400px;
}.container2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8rem;
}
.s1{
    width: 100%;
    height: 600px;
    background-color: rgb(255, 228, 196);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}h1{
    font-size: xx-large;
}.content1{
    display: flex;
    flex-direction: column;
   gap: 1rem;
  
}
article{
 height: 15rem;
 width: 20rem;
 border: 1px solid rgb(106, 106, 106);
 display: flex;
 flex-direction: column;
 justify-content: center;
 padding: 1rem;
 border-radius: 10px;
}
.s2{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}.articlecontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}h3{
    margin-bottom: 0.5rem;
}.container3{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}.content2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}#mern{
    font-size: x-large;
    font-weight: 800;
}

/* footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  .footer-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-container p {
    margin: 0;
    font-size: 14px;
  }
  
  .social-links {
    margin-top: 10px;
  }
  
  .social-links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .social-links a:hover {
    color: #1da1f2; /* Example hover color */
  }
  